{% extends 'Atlas/home.html' %}
{% load staticfiles %}
{% block title %}
    Register
{% endblock %} 
{% block card %}
<div class="container text-center">
    <form class="form-signin" method="POST">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Welcome to Map of Thrones.</h1>
        {{form.username}}
        <br>
        {{form.password}}
        <br>
        {{form.password2}}
        {% for error in form.username.errors %}
        <br>
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{error}}</strong>
        </div>
        {% endfor %}
        {% for error in form.non_field_errors %}
        <br>
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{error}}</strong>
        </div>
        {% endfor %}
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        <br>
        <p>Already Registered? <a href="/login">Login</a></p>
    </form>
</div>
{% endblock %}
{% block Script %}
<script>
    var gotmap=L.tileLayer('https://cartocdn-gusc.global.ssl.fastly.net//ramirocartodb/api/v1/map/named/tpl_756aec63_3adb_48b6_9d14_331c6cbc47cf/all/{z}/{x}/{y}.png', 
    {crs: L.CRS.EPSG4326});
    var mymap = L.map('mapid',{layers:[gotmap]}).setView([13, 25],4);
</script>
{% endblock %}